@use 'variables';

.location{
    text-align: center;
    
    
    .container{
        background-image: linear-gradient(variables.$black, variables.$purpleText);
        display: flex;        
        padding: 32px;
        align-items: center;
        gap: 200px;
        justify-content: center;

        @media (max-width: 768px){
            display: block;

            img{
                width: 200px;
                padding-top: 16px;
            }

            a{
            
            border: 1px solid variables.$orangetext;
            padding: 12px;
            color: variables.$yellowText;
            font-size: 12px;
            }
        }

    }

    ul{
        display: block;
        

        li{
            padding-bottom: 32px;

            b{
                color: variables.$orangetext;
                font-size: 36px;                
            }

            p{
                color: variables.$yellowText;
                font-size: 24px;
            }
        }

        a{
            text-decoration: none;
            border: 2px solid variables.$orangetext;
            padding: 16px;
            color: variables.$yellowText;
            font-size: 24px;

            &:hover{
                background-color: #9908c5;
            }
        }
    }

    img{
        width: 400px;
        
    }

    
}