@use 'variables';

footer{
    

    .container{
        background-image: linear-gradient(variables.$purpleText, variables.$black);
        padding: 42px;
    }
    

    p{
        text-align: center;
        
        color: variables.$orangetext;
        font-size: 16px;
        width: 100%;
    }
}
