@use 'variables';

.hero{
    text-align: center;

    .container{       
        background-image: url(../images/backgound-hero.jpg);
        background-repeat: no-repeat; 
        background-size: contain;
    }

    
    &__title{
        font-size: 72px;        
        color: variables.$purpleText;
        padding-bottom: 48px;
        padding-top: 40px;
    }

    &__subtitle{
        font-size: 40px;
        padding-bottom: 50px;
        color: variables.$purpleText;
        
    }

    
    .countdown__container{
        color: variables.$yellowText;
        padding-bottom: 2px;
    
        p{
            font-size: 32px;
        }
    
        span{
            font-size: 48px;
            
        }
    }

    @media (max-width: 768px){
        
        &__title{
            font-size: 24px;
            padding-bottom: 8px;
            padding-top: 14px;
        }

        &__subtitle{
            font-size: 16px;
            padding-bottom: 18px;
        }
        
        .countdown__container{
            padding-bottom: 8px;

            p{
                font-size: 12px;
            }

            span{
                font-size: 14px;
            }
        }

    }  

    
}

