@use 'variables';

.shows{

    .container{
        display: flex;
        align-items: center;
        background-color: variables.$purpleText;
        padding: 32px;
        justify-content: center;
        gap: 100px;
        
        ul{
            text-align: center;
        }

        b{
            color: variables.$orangetext;
            font-size: 36px;
        }
        li{
            color: variables.$yellowText;
            font-size: 24px;
        }
        img{
            width: 400px;
        }

        @media (max-width: 768px){
            display: block;
            text-align: center;

            b{
                font-size: 24px;
            }
            li{
                font-size: 16px;
            }

            img{
                width: 200px;
                padding-top: 8px;
            }
        }
    }
}