@use "hero";
@use 'variables';
@use './_location';
@use './gifts';
@use './shows';
@use './footer';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Irish Grover', cursive;
    list-style: none;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px){
        max-width: 80%;
    }

    @media (max-width: 1024px){
        max-width: 90%;
    }
}